<html>
<head>

<title>RegForm</title>

</head>

<body>

    <form method ="post" action ="/register">

        <table>

            <tr>
            <td>Username</td>
            <td> <input type = "text" name="username"> </input> </td>
            </tr>
            <tr>
            <td>Password</td>
            <td> <input type = "password" name="password"> </input> </td>
            </tr>
            <tr>
            <td><input value = "Submit" type = "submit" > </input></td>
            </tr>
            <tr>
            {{val}}
            </tr>
        </table>

    </form>

</body>

</html>